<div class="text-center">
  <% if @list.user.photo_url.length > 0 %>
    <img src="<%= @list.user.photo_url %>" style="max-height: 150px; margin-bottom: -40px;">
  <% end %>

  <h1><%= @list.name %></h1>
  <h6>By <%= @list.user.first_name %> <%= @list.user.last_name %></h6>
  <p><%= @list.description %></p><br>

  <% @list.places.each do |place| %>
    <h3>
      <% if place.url.length > 0 %>
        <a href="<%= place.url =%>"  target="_blank"><%= place.name %></a>
      <% else %>
        <%= place.name %>
      <% end %>
    </h3>
    <p><%= place.location %></p>
  <% end %>
</div>
