<div class="text-center">
<p id="notice"><%= notice %></p>

<h1><%= @list.name %></h1><br>
<p><%= @list.description %></p><br>

<table class="table">
  <thead>
    <tr>
      <th class="text-center">Name</th>
      <th class="text-center">Location</th>
    </tr>
  </thead>

  <% @list.places.each do |place| %>
    <tr>
      <td><a href="<%= place.url =%>"><%= place.name %></a></td>
      <td><%= place.description %></td>
    </tr>
    <% end %>
</table>
</div>
