<div class="text-center">
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @list.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @list.description %>
</p>

<table class="table">
  <tr>
    <th>Name</th>
    <th>Location</th>
  </tr>

  <% @list.places.each do |place| %>
    <tr>
      <td><a href="<%= place.url =%>"><%= place.name %></a></td>
      <td><%= place.description %></td>
    </tr>
    <% end %>
</table>
</div>
