<div class="text-center">
<p id="notice"><%= notice %></p>

<h1>Places</h1>

<% if @current_user.places.length > 0 %>
  <table class="table">
    <thead>
      <tr>
        <th class="text-center">Name</th>
        <th class="text-center">Location</th>
        <th class="text-center">List</th>
        <th colspan="2"></th>
      </tr>
    </thead>

    <tbody>
      <% @places.each do |place| %>
        <tr>
          <td>
            <% if place.url.length > 0 %>
              <% if place.url[0..6] == "http://" or place.url[0..7] == "https://" %>
                <a target="_blank" href="<%= place.url =%>"><%= place.name %></a>
              <% else %>
                <a target="_blank" href="http://<%= place.url =%>"><%= place.name %></a>
              <% end %>
            <% else %>
              <%= place.name %>
            <% end %>
          </td>
          <td><%= place.location %></td>
          <td><%= link_to place.list.name, place.list %></td>
          <td><button type="button" class="btn btn-default"><%= link_to 'Edit', edit_place_path(place) %></button></td>
          <td><button type="button" class="btn btn-default"><%= link_to 'Delete', place, method: :delete, data: { confirm: 'Are you sure?' } %></button></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <br><p>You don't have any places yet. Start creating them now!</p>
<% end %>

<br>
</div>
