<div class="text-center">
  <% flash.each do |key, value| %>
    <p class="alert alert-<%= key %>"><%= value %></p>
  <% end %>

  <p>
    <strong>Name:</strong>
    <%= @place.name %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= @place.location %>
  </p>

  <p>
    <strong>URL:</strong>
    <%= @place.url %>
  </p>

  <%= link_to 'Edit', edit_place_path(@place) %>
</div>
